#projects {
  background-color: hsl(303, 64%, 26%);
  padding: 5em 0 5em 0;
  // min-height: 500px;
  position: relative;
  display: flex;

  justify-content: center;
  align-content: center;

  .projects-internal-wrapper {
    width: 90%;
    margin-top: 6em;
    text-align: center;

    h2 {
      font-size: 4.5em;
      margin-top: 0.5em;
    }

    .project:first-of-type {
      margin-top: 6em;
    }

    .project:last-of-type {
      margin-bottom: 0;
    }

    .project {
      margin: 8em 0;

      a.title-live-link {
        text-decoration: none;
        h3 {
          font-size: 2.3em;
          color: white;
          text-decoration: underline;
        }
      }

      video {
        width: 100%;
        // height: auto;
      }

      a.live-link,
      a.sourcecode-link {
        display: block;
        font-size: 1.5em;
        color: white;
      }

      p.description {
        font-size: 1.3em;
      }
    }
  }

  .wave-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 120px;
    }

    .shape-fill {
      fill: #dd3f31;
    }
  }

  /** For mobile devices **/
  // @media (max-width: 767px) {
  //   .wave-container svg {
  //     width: calc(100% + 1.3px);
  //     height: 110px;
  //   }
  // }
}

@media (min-width: 400px) {
}

@media (min-width: 767px) {
  #projects {
    .projects-internal-wrapper {
      margin-top: 15em;

      h2 {
        font-size: 10em;
      }

      .project {
        font-size: 1.7em;
      }
    }

    .wave-container {
      svg {
        height: 230px;
      }
    }
  }
}
